
html, body { width:100%; margin:0; padding:0; }
body { font-family:'NanumSquareRound', sans-serif; color:#333; }
body.pop {overflow:hidden;}

div, p, ul, ol, li, dl, dt, dd, form, fieldset, button, blockquote, table, th, td, h1, h2, h3, h4, h5, h6, address { margin:0; padding:0; }
form, input, select, textarea, button { font-family:'NanumSquareRound', sans-serif; font-size:14px; line-height:18px; color:#333; }
table { border-collapse:collapse; }
table caption { text-align:left; display:none; }
ul, ol, li { list-style:none; }
button { border:0; margin:0; padding:0; cursor:pointer; outline-style:none; }
input, select, textarea { outline-style:none; margin:0; }
img { border:0; }
i, em, address { font-style:normal; }
pre {font-family:'NanumSquareRound', sans-serif; white-space:normal; word-break:keep-all;}

@-moz-document url-prefix() {
	button { padding-bottom:3px !important; }
	label input { margin-top:0 !important; }
}


a { color:#444; text-decoration:none; cursor:pointer; }
a:hover { color:#444; text-decoration:none; cursor:pointer; }




/* layout -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Top */
#wrapTop {position:relative; width:100%; background:#fff; z-index:10;}
.main #wrapTop {position:fixed; top:0;}
#wrapTop h1 {position:absolute; text-indent:-999em;}
#wrapTop h1 a {display:block; height:100%;}
#wrapTop .menuBox {position:absolute; font-weight:bold;}
#wrapTop .menuBox > ul {text-align:right;}
#wrapTop .menuBox > ul > li {display:inline-block;}
#wrapTop .menuBox > ul > li a {display:block; padding:0 25px;}
#wrapTop .menuBox > ul > li a:hover,#wrapTop .menuBox > ul > li.on a {color:#fa9510;}
#wrapTop .menuBox > ul > li .depth2 {display:none;}
#wrapTop .utilityBox {}
#wrapTop .btnMenu {display:block; border-right:1px solid #dedede; background-image:url('/img/common/m_menu.png'); background-repeat:no-repeat;}
#wrapTop #totalMenu {display:none; position:fixed; width:70%; background:#fff;}
#wrapTop #totalMenu .logo {width:100%; height:100%;}
#wrapTop #totalMenu .logo a {display:block; background-image:url('/img/common/m_logo.png'); background-repeat:no-repeat;}
#wrapTop #totalMenu .btnClose {position:absolute; text-indent:-999em; background:#ff971c; background-repeat:no-repeat;}
#wrapTop #totalMenu .menu {border-top:1px solid #dedede;}
#wrapTop #totalMenu .menu li {border-bottom:1px solid #dedede;}
#wrapTop #totalMenu .menu li a {display:block; box-sizing:border-box;}


/* Body */
#wrapCont {}

#wrapCont .status {position:relative; border-bottom:1px solid #dedede; background-color:#fafafa; z-index:10;}
#wrapCont .status .wrap > ul {position:relative;}
#wrapCont .status .wrap > ul > li {position:relative; float:left; color:#222; box-sizing:border-box;}
#wrapCont .status .wrap > ul > li a {display:block; overflow:hidden; height:100%; color:#222; box-sizing:border-box;}
#wrapCont .status li.home {margin-left:-1px; padding:0; border-left:1px solid #dedede;}

#wrapCont .status .wrap > ul:after { content:''; display:block; clear:both; }
#wrapCont .status .wrap > ul > li a {display:block; overflow:hidden; height:100%; color:#222; box-sizing: border-box;}
#wrapCont .status .home a { width:49px; background:url('/resources/img/common/icon_home.png') center center no-repeat; background-size:15px 14px; font-size:0; line-height:0; text-indent:-9999px; }
#wrapCont .status .depth.first { padding:19px 30px 0 30px; }
#wrapCont .status .depth.second { margin-right:-1px; }
#wrapCont .status .depth.third { margin-right:-1px; }
#wrapCont .status .submenu {position:relative; background-repeat:no-repeat; overflow:hidden; box-sizing:border-box; }
#wrapCont .status .submenu.active, #wrapCont .status .submenu.active a {background-color:#fafafa; z-index:10;}
#wrapCont .status .submenu li {background-color:#fafafa; border:solid 1px #dedede; margin-bottom:-1px; }
#wrapCont .status .submenu li a { padding:19px 60px 0 30px; }
#wrapCont .status .submenu li a:hover {text-decoration:underline;}
#wrapCont .status .submenu li.now a, #wrapCont .status .submenu li.now a:hover {background:none;}
#wrapCont .status .submenu li.now { position:absolute;  background:none; border-top:0; box-sizing:border-box; }

/* 콘텐츠 오브젝트 */ 
#wrapCont .obj:before {content:''; display:block; position:absolute; z-index:1;}
#wrapCont .obj:after {content:''; display:block; position:absolute; z-index:1;}

#wrapCont .sec_tit {font-weight:bold;}
#wrapCont .visualBox {overflow:hidden;}
#wrapCont .main_slide {float:left;}
#wrapCont .main_util {}
#wrapCont .main_util .top_menu {}
#wrapCont .main_util .top_menu .col_2 {overflow:hidden; border:1px solid #dedede; border-top:1px solid #ff971c; border-left:0 none; border-bottom:0;}
#wrapCont .main_util .top_menu .col_2 li {float:left; width:50%; border:solid #dedede; border-width:0 0 1px 1px; box-sizing:border-box;}
#wrapCont .main_util .top_menu .col_2 li:hover {background:#fb9e24; box-shadow: 2px 2px 6px #d4d4d4}
#wrapCont .main_util .top_menu .col_2 li:hover  p {color:#fff;}
#wrapCont .notice_box {position:relative; box-sizing:border-box; border:1px solid #dedede; border-top:1px solid #ff971c; background:#f9f9f9;}
#wrapCont .notice_box .bullet01 {}
#wrapCont .notice_box .bullet01 li {padding-left:15px; margin-top:5px; background:url('/img/common/bullet01.png') no-repeat left center;}
#wrapCont .notice_box .bullet01 li a {font-size:15px; color:#222;}
#wrapCont .notice_box .noice_more {position:absolute;}
#wrapCont .movie_preview {}
#wrapCont .movie_preview ul {overflow:hidden; margin:0 -15px;}
#wrapCont .movie_preview ul > li {float:left; margin:0 15px; width:270px;}
#wrapCont .movie_preview ul > li .thumb {}
#wrapCont .movie_preview ul > li .txt_box {font-family:'NanumSquare', sans-serif;}
#wrapCont .movie_preview ul > li .txt_box > strong {}
#wrapCont .movie_preview ul > li .txt_box .count {display:inline-block; color:#999;}
#wrapCont .contBox2 {}
#wrapCont .contBox2 .why_box {position:absolute; box-sizing:border-box;}
#wrapCont .contBox2 ul {overflow:hidden; box-sizing:border-box;}
#wrapCont .contBox2 ul li {float:left; width:33%; text-align:center;}
#wrapCont .contBox2 ul li > div {line-height:1;}
#wrapCont .contBox2 ul li > div > span {display:block; font-family:'NanumSquareRound', sans-serif;}
#wrapCont .contBox2 ul li > div > .bg_tuv {background-image:url('/img/common/bg_tuv.png'); background-repeat:no-repeat;}
#wrapCont .contBox3 {}
#wrapCont .contBox3 .bx_exper {overflow:hidden;}
#wrapCont .contBox3 .bx_exper > div {float:left;}
#wrapCont .contBox3 .bx_exper > div > h3 {font-family:'NanumSquare', sans-serif; text-align:center; color:#fff;}
#wrapCont .contBox3 .bx_exper > div > ul {}
#wrapCont .contBox3 .bx_exper > div > ul li {box-sizing:border-box;}
#wrapCont .contBox3 .bx_exper > div > ul li:last-child {border:0 none;}
#wrapCont .contBox3 .bx_exper > div > ul li a {position:relative; display:block;}
#wrapCont .contBox3 .bx_exper .exper_tit {}
#wrapCont .contBox3 .bx_exper p {line-height:1.6; color:#222;}
#wrapCont .contBox3 .bx_exper .thumb {position:absolute;}
#wrapCont .contBox3 .bx_exper .green {background:#b6c83c;}
#wrapCont .contBox3 .bx_exper .orange {background:#fcb03c;}
#wrapCont .contBox3 .bx_exper .sky {background:#78bbe1;}
#wrapCont .contBox4 {background:#f9f9f9;}
#wrapCont .contBox4 {}
#wrapCont .contBox4 .sub_txt {color:#666;}
#wrapCont .contBox4 .reserve_box {overflow:hidden; }
#wrapCont .contBox4 .reserve_box .col_4 {float:left; }
#wrapCont .contBox4 .reserve_box .tit {position:relative; color:#222; letter-spacing:-1px; font-weight:normal; font-family:'NanumSquareRound', sans-serif; }
#wrapCont .contBox4 .reserve_box .tit:after {position:absolute; display:block; content:'';}
#wrapCont .contBox4 .reserve_box .thumb {font-family:'NanumSquare', sans-serif;}

#wrapFooter {text-align:center; border-top:1px solid #d7d7d7; background:#e0e0e0;}
#wrapFooter .copyright {color:#777;}

/* common --------------------------------------------------------------------------------------------------------------------------------------------*/
.mask { position:fixed; top:0; left:0; width:100%; height:100%; display:none; }
.scroll_navi {position:fixed;}
.scroll_navi ul {}
.scroll_navi ul li {position:relative;}
.scroll_navi ul li a {display:block; text-align:center;}
.scroll_navi ul li .navi_ico {display:block; margin:0 auto; background-repeat:no-repeat; background-image:url('/img/common/bg_navi.png');}
.scroll_navi ul li .tooltip {display:none; position:absolute; color:#fff; background-image:url('/img/common/bg_tooltip.png'); background-repeat:no-repeat;}

.btnTop {position:fixed; display:none; border:1px solid #dedede;}

.green {color:#aac22a;}
.orange {color:#fa9217;}
.sky {color:#297bae;}

/* sub ---------------------------------------------------------------------------------------------------------------------------------------------------*/

/* 담당자 안내 */
#wrapCont .contents {}
#wrapCont .contents .title {line-height:1.4; font-weight:400; text-align:center; letter-spacing:-1px;}
#wrapCont .contents .title.tit_box {border-bottom:1px solid #ff971c;}
#wrapCont .contents .top_box {font-family:'NanumSquare', sans-serif; background-image:url('/img/officer/std_reserve.jpg'); background-size:100% auto; background-position:center; background-repeat:no-repeat; box-sizing:border-box;}
#wrapCont .contents .top_box .txt {color:#fff;}
#wrapCont .contents .top_box .normal {color:#fff; background:#ff8808;}

#wrapCont .step_box {}
#wrapCont .step_box > ol {margin:0 auto; text-align:center;}
#wrapCont .step_box > ol > li {position:relative; display:inline-block;}
#wrapCont .step_box > ol > li:after {position:absolute; display:block; content:''; background:#dedede; z-index:1;}
#wrapCont .step_box > ol > li.last:after {display:none;} 
#wrapCont .step_box .thumb {position:relative; color:#bfbfbf; font-weight:600; box-sizing:border-box;  background-image:url('/img/officer/bg_step_off.png'); background-repeat:no-repeat; z-index:3;}
#wrapCont .step_box .on .thumb {color:#fa8808; background-image:url('/img/officer/bg_step_on1.png');}
#wrapCont .step_box .thumb > span {line-height:1.1;}
#wrapCont .step_box li:first-child + li.on .thumb {background-image:url('/img/officer/bg_step_on2.png');}
#wrapCont .step_box li:first-child + li + li.on .thumb {background-image:url('/img/officer/bg_step_on3.png');}
#wrapCont .step_box li:first-child + li + li + li.on .thumb {background-image:url('/img/officer/bg_step_on4.png');}
#wrapCont .step_box > ol > li.on.last .thumb {background-image:url('/img/officer/bg_step_last.png') !important;}

.innder_tab {}
.double_tab {display:block; margin-right:-3px; border:solid 1px #dedede;}
.double_tab .col_2 {position:relative; margin-bottom:-1px; display:block; float:left; width:calc(50% - 1px);  border-right:solid 1px #dedede; z-index:10;}
.double_tab .col_2+.double_tab .col_2 {border:none;}
.double_tab .col_2 a {display:block; width:100%; height:100%; text-align:center;}
.double_tab .col_2 a {z-index: 100; margin:-1px; border:solid 1px #dedede;}
.double_tab .col_2 a.on {margin:-1px; color:#fff; border:solid 1px #ff971c; background:#ff971c; z-index:100;}

#wrapCont .cont_box {}
#wrapCont .cont_box .sub_tit {font-family:'NanumSquare', sans-serif;}
#wrapCont .cont_box .sub_tit > span {position:relative; display:inline-block; color:#fa8808;}
#wrapCont .cont_box .sub_tit.cb > span {color:#3396d6;}
#wrapCont .cont_box .sub_tit > span:after {position:absolute; display:block; content:'';}
#wrapCont .cont_box #my_reserve {border-top:1px solid #ff971c;}
#wrapCont .cont_box .toggle_menu dt {border-bottom:1px solid #dedede; background-image:url('/img/common/dt_list_state.png'); background-repeat:no-repeat;}
#wrapCont .cont_box #my_reserve dt.on {border-bottom:0 none;}
#wrapCont .cont_box #my_reserve dt .date {display:inline-block; font-weight:600;}
#wrapCont .cont_box #my_reserve dd {box-sizing:border-box; border:1px solid #dedede; background:#fafafa;}
#wrapCont .cont_box #my_reserve dd > ul {overflow:hidden;}
#wrapCont .cont_box #my_reserve dd > ul > li {position:relative; box-sizing:border-box;}
#wrapCont .cont_box #my_reserve dd > ul > li:after {display:block; content:''; position:absolute; border-radius:50%; background:#b6b6b6;}
#wrapCont .cont_box #my_reserve dd > ul > li  .r_tit {font-weight:600;}
#wrapCont .cont_box #my_reserve dd > ul > li  .t_tit {}
#wrapCont .cont_box #my_reserve dd > ul > li > ul {}
#wrapCont .cont_box #my_reserve dd > ul > li li {overflow:hidden; color:#888;;}

#wrapCont .cont_box #my_faq {border-bottom:1px solid #dedede;}
#wrapCont .cont_box #my_faq dt {border:1px solid #dedede; border-bottom:0;}
#wrapCont .cont_box #my_faq dt.on {color:#fa8808;}
#wrapCont .cont_box #my_faq dt .q_mark {display:inline-block; color:#fa8808; font-weight:bold;}
#wrapCont .cont_box #my_faq dd {border:1px solid #dedede; border-bottom:0 none; background:#fafafa;}

#wrapCont .cont_box .cal_box {position:relative; box-sizing:border-box; border:1px solid #dedede; border-top:1px solid #ff971c;}
#wrapCont .cont_box .cal_box .resort_list {}
#wrapCont .cont_box .cal_box .cal {border:1px solid #dedede;}

#wrapCont .cont_box .exper_box {box-sizing:border-box; border:solid #dedede; border-width:0 1px 0 1px; border-top:1px solid #ff971c;}
#wrapCont .cont_box .exper_choice {border-bottom:1px solid #dedede;}
#wrapCont .cont_box .exper_choice .ex_tit {font-weight:600;}
#wrapCont .cont_box .exper_choice > ul {overflow:hidden;}
#wrapCont .cont_box .exper_choice > ul li {float:left;}
#wrapCont .cont_box .exper_choice .thumb {}
#wrapCont .cont_box .exper_choice .thumb img {width:100%;}

#wrapCont .cont_box .done {text-align:center; box-sizing:border-box; border:1px solid #dedede; border-top:1px solid #ff971c;}
#wrapCont .cont_box .done > p {line-height:1.4;}
#wrapCont .cont_box .done > p > span {color:#fa7a08;}

#wrapCont .agree_wrap {border:1px solid #dedede;}
#wrapCont .agree_top {border:solid #dedede; border-width:1px 1px 0 1px; background:#fafafa;}
#wrapCont .agree_top .tit {display:inline-block; font-weight:600;}
#wrapCont .agree_tit {font-weight:600;}
#wrapCont .agree_scroll {overflow-y:auto; line-height:1.4; box-sizing:border-box; border:1px solid #dedede;}

/* why에버랜드 */
#wrapCont .list_box {}
#wrapCont .list_box.col {overflow:hidden;}
#wrapCont .list_box.col > div {position:relative; float:left; line-height:1.4; color:#222; box-sizing:border-box; border:1px solid #dedede;}
#wrapCont .list_box.col > div b {display:block;}
#wrapCont .list_box.col > div > div {position:absolute; line-height:1; font-weight:600;}
#wrapCont .list_box.col > div > div > span {font-family: 'Montserrat', sans-serif;}
#wrapCont .list_box.col .first {color:#fff; background:#ff971c; z-index:1;}
#wrapCont .safe_box {overflow:hidden;}
#wrapCont .safe_box .col_2 {border:1px solid #dedede; border-top:1px solid #ff971c;}
#wrapCont .safe_box .col_2 .box .tit {font-family:'NanumSquare', sans-serif; font-weight:600;}
#wrapCont .safe_box .col_2 .box .tit:after {display:block; content:''; background:#dedede;}
#wrapCont .safe_box .year_list {}
#wrapCont .safe_box .year_list li {position:relative; z-index:2;}
#wrapCont .safe_box .year_list strong {display:inline-block; vertical-align:top; background-repeat:no-repeat; background-position:0 center;}
#wrapCont .safe_box .year_list span {position:relative; display:inline-block; vertical-align:top; box-sizing:border-box;}
#wrapCont .safe_box .year_list span:after {position:absolute; left:0; display:block; content:''; background:#dedede;}
#wrapCont .safe_box .safe_list {}
#wrapCont .safe_box .safe_list li {position:relative;}
#wrapCont .safe_box .safe_list li .thumb {position:absolute;}
#wrapCont .safe_box .safe_list li .thumb img {width:100%;}
#wrapCont .safe_box .safe_list li > p {}
#wrapCont .safe_box .safe_list li > p > span{display:block; font-weight:600;}

.gWrap {overflow:hidden;}
.gLeft {float:left;}
.gRight {float:right;}

/* autocomplete */
.ui-autocomplete {border:1px solid #eaeaea; background:#fff; z-index:11;}
.ui-autocomplete li {}
.ui-autocomplete li:hover {cursor:pointer; background:#f9f9f9;}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/* 셀렉트 박스 */
.select_box {position:relative; vertical-align:top; border:1px solid #d7dae1; box-sizing:border-box; background-image:url('/img/common/ico_select.gif'); background-repeat:no-repeat; background-position:100% center;}
.sort.etc .select_box {}
.select_box label {position: absolute; font-weight:300; color:#666; letter-spacing:1px;}
.select_box select {opacity: 0;filter: alpha(opacity=0);box-sizing:border-box;}


/* table */
.mBoard {}
.mBoard table {width:100%; border-top:1px solid #ff971c; border-left:1px solid #dedede;}
.mBoard th {border-right:1px solid #dedede; border-bottom:1px solid #dedede; background:#f8f8f8;}
.mBoard .left td, .mBoard td.left  {text-align:left;} 
.mBoard td {text-align:center; border-right:1px solid #dedede; border-bottom:1px solid #dedede;}
.mBoard td input {box-sizing:border-box; border:1px solid #e1e1e1;}
.mBoard td .half {overflow:hidden;}
.mBoard td .half li {box-sizing:border-box;}
.mBoard td .bullet {display:inline-block;}
.mBoard tfoot {background:#f8f8f8;}
.mBoard tfoot td {border-bottom:1px solid #ff971c;}
.mBoard .table_sub {color:#666;}
.mBoard .select_box {display:inline-block; vertical-align:middle;}

/* tab_menu */
.tab_menu {overflow:hidden;}
.tab_menu ul {overflow:hidden;}
.tab_menu li {float:left; text-align:center; background:#fafafa;}
.tab_menu li a {display:inline-block; line-height:1.2; padding:15px 0; width:100%; height:100%; font-weight:normal; color:#222; border:solid #eaeaea; border-width:1px 1px 0 1px;}
.tab_menu li a:first-child {border-bottom:1px solid #ff971c;}
.tab_menu li.on a {border:solid #ff971c; width:calc(100% - 2px);  border-width:1px 1px 0 1px; background:#fff;}
.tab_menu.col_3 li {width:calc(33.333% - 1px);}

/* input */
.ip_hidden {position:absolute; top:50%; right:1px; width:22px; height:22px; margin-top:-11px; opacity:0; outline:0; -webkit-appearance:none; z-index:9;}
.ip_hidden + label {display:inline-block; padding:5px 0  5px 40px; background: url('/img/common/chk_off.gif') 0 3px no-repeat; background-size:21px 21px;}
.ip_hidden label.on {background: url('/img/common/chk_on.gif') 0 3px no-repeat; background-size:21px 21px;}
.ip_hidden:checked + label {background: url('/img/common/chk_on.gif') 0 3px no-repeat; background-size:21px 21px;}
.gFull {width:100%;}

/* 데이트피커 */
.ui-datepicker {box-sizing:border-box; background:#fff;}
.ui-widget.ui-widget-content {width:100%;;}
.ui-datepicker .ui-datepicker-header {position:relative; background:#fafafa;}
.ui-datepicker .ui-datepicker-title {padding:1em 0 .8em;font-size:17px; font-weight:600; color:#222; text-align:center;}
.ui-datepicker-year {margin-left:5px;}
.ui-datepicker .ui-icon {overflow:hidden; text-indent:-999em; background-repeat:no-repeat;}
.ui-widget-header .ui-icon {background-image:url('/img/common/cal_arrow.png');}
.ui-icon {width:11px; height:13px;}
.ui-icon-circle-triangle-w {background-position:center top;}
.ui-icon-circle-triangle-e {background-position:center bottom;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position:absolute; top:18px; width:1.8em; height:1.8em;}
.ui-datepicker .ui-datepicker-prev {left:2px;}
.ui-datepicker .ui-datepicker-next {right:0;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {display:block; position:absolute; left:50%; margin-left:-8px; top:50%; margin-top:-12px;}
.ui-datepicker-calendar {width:100%; border-top:1px solid #dedede;}
.ui-datepicker th {font-size:1rem; font-weight:300; border-bottom:1px solid #dedede;}
.ui-datepicker td {font-size:12px; font-weight:300; text-align:center;}
.ui-datepicker td a {display:block; padding:.7em; font-size:.8rem; text-decoration:none;}
/*.ui-state-highlight {color:#fff; background:#fa8508; border-radius:50%;}*/
td .ui-state-active {color:#fff; background:#fa8508; border-radius:50%;}
td .ui-state-active:hover {color:#fff;}
.ui-datepicker-calendar > thead th:first-child span, .ui-datepicker-calendar > tbody td:first-child a {color:#f00;}
.ui-datepicker-calendar > thead th:last-child span, .ui-datepicker-calendar > tbody td:last-child a {color:blue;}

/* 팝업 */
.popup {display:none; position:absolute; box-sizing:border-box; background:#fff; z-index:13;}
.popup .pop_wrap {}
.popup .pop_wrap h3 {line-height:1.4;}
.popup .pop_wrap .gUtil {}
.popup .pop_wrap .mBoard {}
.popup .pop_wrap .mBoard tfoot strong {display:inline-block;}
.popup .pop_wrap .gScroll {overflow-y:auto;}
.popup .btn_close {position:absolute;}
.popup .btn_close a {display:block; text-indent:-999em; width:100%; height:100%; background-repeat:no-repeat;}

#maskPC { z-index:11; background-color:#232927; opacity:.6; }

/* Button */
.btn_box:before {display:block; content:""; clear:both;}
.btn_box {text-align:center;}
.btn_box a {display:inline-block; margin:0 5px; font-size:14px;}
.btn_box .view {border:1px solid #ff971c; border-radius:25px;}
.btn_box .view span {color:#fa8508; background-image:url('/img/common/view_arrow.png'); background-repeat:no-repeat;}
.btn_box .next {background:#fa8508; border-radius:25px;}
.btn_box .next span {color:#fff; background-image:url('/img/common/view_arrow01.png'); background-repeat:no-repeat;}

/* 이미지형 아이콘 */
a.btn_ico, button.btn_ico, span.btn_ico {display:inline-block; overflow:hidden; font-size:0; line-height:0; vertical-align:middle; white-space:nowrap;}
