
body, form, input, select, textarea, button { font-size:0.8em; line-height:1em; }



/* layout -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Top */
#wrapTop {}
#wrapTop h1 {}

/* body */
#wrapCont {}
#wrapCont .sec_tit {}
#wrapCont .main_util {}
#wrapCont .main_util .top_menu {}
#wrapCont .main_util .top_menu .col_2 {}
#wrapCont .main_util .top_menu .col_2 li {}
#wrapCont .main_util {}

#wrapCont .movie_preview ul > li .thumb {}
#wrapCont .movie_preview ul > li .txt_box {}
#wrapCont .movie_preview ul > li .txt_box > strong {}
#wrapCont .movie_preview ul > li .txt_box .count {}

/* Footer */



/* common --------------------------------------------------------------------------------------------------------------------------------------------*/
#maskMobile { z-index:10; background-color:#232927; opacity:.7; }


.btnTop { display:none; right:0; bottom:103px; width:50px; height:50px;}



/* width : 640px ---------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:640px){

}