
body, form, input, select, textarea, button { font-size:14px; line-height:18px; }

.wrap {position:relative; margin:0 auto; width:1170px; z-index:5;}

/* layout -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Top */
#wrapTop {height:82px; border-bottom:2px solid #ff971c; }
#wrapTop h1 {left:0; top:20px; width:110px; height:41px; background:url('/img/common/logo.png') no-repeat;}
#wrapTop .menuBox {top:33px; right:0;}
#wrapTop .menuBox > ul {}
#wrapTop .menuBox > ul > li {}
#wrapTop .menuBox > ul > li a {padding:0 25px; font-size:15px;}
#wrapTop .menuBox > ul > li .depth2 {display:none;}
#wrapTop .utilityBox {display:none;}


/* Footer */


/* Body */
#wrapCont {}
#wrapCont .status {}

#wrapCont .status {height:50px;}
#wrapCont .status .wrap > ul {height:50px;}
#wrapCont .status .wrap > ul > li {height:50px; font-size:15px;}

#wrapCont .status .wrap > ul > li a {font-size:15px;}
#wrapCont .status .home a { width:49px; background:url('/img/common/icon_home.png') center center no-repeat; background-size:15px 14px; font-size:0; line-height:0; text-indent:-9999px; }
#wrapCont .status .depth.first { padding:19px 30px 0 30px; }
#wrapCont .status .depth.second { margin-right:-1px; }
#wrapCont .status .depth.third { margin-right:-1px; }
#wrapCont .status .submenu {height:50px; background-image:url('/img/common/bullet_status.png'); background-position:90% 23px; padding-top:50px;}
#wrapCont .status .submenu.active, #wrapCont .status .submenu.active a {z-index:10;}
#wrapCont .status .submenu li { height:50px;}
#wrapCont .status .submenu li a { padding:19px 60px 0 30px; }
#wrapCont .status .submenu li a:hover {text-decoration:underline;}
#wrapCont .status .submenu li.now a, #wrapCont .status .submenu li.now a:hover {background:none;}
#wrapCont .status .submenu li.now {top:0; left:0; width:100%; height:51px;}


#wrapCont .cont {margin-top:55px;}
#wrapCont .sec_tit {margin-bottom:22px; font-size:22px;}
#wrapCont .visualBox {margin-top:139px;}
#wrapCont .main_util {float:right; width:370px; box-sizing:border-box;}
#wrapCont .main_util:after {display:block; content:''; clear:both;}
#wrapCont .main_util .top_menu {}
#wrapCont .main_util .top_menu .col_2 {}
#wrapCont .main_util .top_menu .col_2 li {padding:30px 0; height:168px; text-align:center;}
#wrapCont .main_util .top_menu .col_2 li  a > p {margin-top:25px; font-size:17px; color:#222;}

#wrapCont .main_slide {width:770px;}

#wrapCont .main_slide .bx-wrapper {position:relative;}
#wrapCont .main_slide .bx-wrapper .bx-pager {position:absolute;width:100%;bottom:30px;text-align: center;}
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a {
  background:url('/img/common/pager.png') no-repeat bottom center; text-indent:-9999px; display:block; width:9px; height:9px; margin:0 5px; outline:0;}
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/pager.png') no-repeat top center;
}
#wrapCont .main_slide .bx-wrapper .bx-pager-item,
#wrapCont .main_slide .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline-block; vertical-align:bottom; *zoom:1; *display: inline;}
#wrapCont .main_slide .bx-wrapper .bx-pager-item {font-size:0; line-height:0;}

/* 콘텐츠 오브젝트 */ 
#wrapCont .obj {}
#wrapCont .reserve.obj:before {top:135px; left:50%; margin-left:-646px; width:210px; height:100px; background:url('/img/common/obj_circle.png') no-repeat center bottom;}
#wrapCont .reserve.obj:after {top:290px; right:0; width:156px; height:343px; background:url('/img/common/obj_tri.png') no-repeat center bottom;}
#wrapCont .obj.type01:after {bottom:-20%; left:-10px; width:138px; height:205px; background:url('/img/common/obj_circle.png') no-repeat right top;}


#wrapCont .notice_box {margin-top:31px; padding:20px;}
#wrapCont .notice_box .bullet01 li {padding-left:15px; margin-top:11px; background:url('/img/common/bullet01.png') no-repeat left center;}
#wrapCont .notice_box .bullet01 li a {font-size:15px; color:#222;}
#wrapCont .notice_box .noice_more {top:20px; right:20px;}

#wrapCont .movie_preview ul > li .thumb {margin-bottom:15px;}
#wrapCont .movie_preview ul > li .txt_box {line-height:1.4;}
#wrapCont .movie_preview ul > li .txt_box > strong {font-size:17px;}
#wrapCont .movie_preview ul > li .txt_box .count {margin-top:10px; font-size:14px;}

#wrapCont .contBox2 {background:#f9f9f9;}
#wrapCont .contBox2 .why_box {top:0; left:-30px; padding:25px 30px; width:330px; height:237px; text-align:left; background:#fff;}
#wrapCont .contBox2 .why_box .btn_box {margin-top:55px; text-align:left;}
#wrapCont .contBox2 ul {padding:50px 0; padding-left:330px; height:237px;}
#wrapCont .contBox2 ul li {}
#wrapCont .contBox2 ul li > div {}
#wrapCont .contBox2 ul li > div > span {font-size:60px; font-weight:bold;}
#wrapCont .contBox2 ul li > div > span i {font-size:14px;}
#wrapCont .contBox2 ul li .green {}
#wrapCont .contBox2 ul li .orange {}
#wrapCont .contBox2 ul li .sky {}
#wrapCont .contBox2 ul li > div > .bg_tuv {margin:0 auto 7px; width:110px; height:50px; background-position:top center;}
#wrapCont .contBox2 ul li > p {margin-top:15px;}

#wrapCont .contBox3 {}
#wrapCont .contBox3 .bx_exper {margin:0 -15px;}
#wrapCont .contBox3 .bx_exper > div { margin:0 15px; width:calc(33% - 28px); border:1px solid #dedede;}
#wrapCont .contBox3 .bx_exper > div > h3 {padding:13px 0; font-size:17px;}
#wrapCont .contBox3 .bx_exper > div > ul {padding:10px 30px 10px;}
#wrapCont .contBox3 .bx_exper > div > ul li {padding:20px 0; min-height:115px; border-bottom:1px solid #dedede;}
#wrapCont .contBox3 .bx_exper > div > ul li a {padding-left:100px; font-size:15px;}
#wrapCont .contBox3 .bx_exper > div > ul li a > span {margin-right:7px;}
#wrapCont .contBox3 .bx_exper .exper_tit {margin-bottom:7px; font-weight:bold;}
#wrapCont .contBox3 .bx_exper p {letter-spacing:-1px;}
#wrapCont .contBox3 .bx_exper .thumb {top:0; left:0;} 

#wrapCont .contBox4 {padding:40px 0 55px;}
#wrapCont .contBox4 p {font-size:15px;}
#wrapCont .contBox4 .sub_txt {margin-top:10px;}
#wrapCont .contBox4 .reserve_box {margin:40px -15px 0;}
#wrapCont .contBox4 .reserve_box .col_4 {margin:0 15px; width:calc(25% -  30px)}
#wrapCont .contBox4 .reserve_box .tit {padding-left:15px; line-height:1; font-size:22px;}
#wrapCont .contBox4 .reserve_box .tit:after {top:0; left:0; width:2px; height:21px; background:#fcac3a;}
#wrapCont .contBox4 .reserve_box .thumb {margin-top:25px;}
#wrapCont .contBox4 .btn_box {position:absolute; top:10px; right:0;}

/* 담당자 안내 */
#wrapCont .contents {margin-top:50px; padding-bottom:50px;}
#wrapCont .contents .title {font-size:35px;}
#wrapCont .contents .title.tit_box {padding-bottom:40px;}
#wrapCont .contents .top_box {margin-top:75px; padding:70px 0; height:253px;}
#wrapCont .contents .top_box .txt {text-align:center; font-size:22px; font-weight:400;}
#wrapCont .contents .top_box .normal {margin-top:30px; padding:20px; font-size:22px;}

#wrapCont .step_box {margin-top:70px; padding-bottom:60px; border-bottom:1px solid #dedede;}
#wrapCont .step_box > ol {}
#wrapCont .step_box > ol > li {margin:15px;}
#wrapCont .step_box > ol > li:after {top:50px; right:-43px; width:50px; height:1px;}
#wrapCont .step_box .thumb {margin:0 auto 15px; width:99px; height:99px; font-size:20px; background-position:center top;}
#wrapCont .step_box .thumb > span {display:inline-block; padding-top:30px;}

#wrapCont .cont_box {margin-top:60px;}
#wrapCont .cont_box .down_box {margin-top:60px;}
#wrapCont .cont_box .sub_tit {margin-bottom:30px; font-size:22px;}
#wrapCont .cont_box .sub_tit > span {padding-right:25px; font-size:22px;}
#wrapCont .cont_box .sub_tit > span:after {top:1px; right:12px; width:1px; height:13px; background:#dedede;}
#wrapCont .cont_box #my_reserve {margin-top:15px;}
#wrapCont .cont_box .toggle_menu dt {padding:25px 0; background-position:98% bottom;}
#wrapCont .cont_box .toggle_menu dt.on { background-position:98% top;}
#wrapCont .cont_box #my_reserve dt .date {padding:0 55px;}
#wrapCont .cont_box #my_reserve dt > span {font-size:17px;}
#wrapCont .cont_box #my_reserve dd {padding:25px 0 25px; font-family:'NanumSquareRound', sans-serif;}
#wrapCont .cont_box #my_reserve dd > ul {padding-left:200px}
#wrapCont .cont_box #my_reserve dd > ul > li {margin:15px 0; padding-left:15px; float:left; width:50%;}
#wrapCont .cont_box #my_reserve dd > ul > li:after {top:7px; left:0; width:3px; height:3px;}
#wrapCont .cont_box #my_reserve dd > ul > li > div {display:inline-block; vertical-align:top; color:#222;}
#wrapCont .cont_box #my_reserve dd > ul > li .r_tit {width:110px;}
#wrapCont .cont_box #my_reserve dd > ul > li .t_tit {}
#wrapCont .cont_box #my_reserve dd > ul > li ul {margin-top:5px;}
#wrapCont .cont_box #my_reserve dd > ul > li li {font-size:14px;}
#wrapCont .cont_box #my_reserve dd > ul > li li .gLeft {margin-right:15px;}

#wrapCont .cont_box #my_faq {margin-top:40px;}
#wrapCont .cont_box #my_faq dt {font-size:15px;}
#wrapCont .cont_box #my_faq dt.on {}
#wrapCont .cont_box #my_faq dt .q_mark {padding:0 50px 0 40px; font-size:17px;}
#wrapCont .cont_box #my_faq dd {padding:30px 100px;}

#wrapCont .cont_box .cal_box {padding:20px 20px 20px 30px; min-height:315px;}
#wrapCont .cont_box .cal_box.sec {min-height:auto;}
#wrapCont .cont_box .cal_box .cal_tit {font-size:17px;}
#wrapCont .cont_box .cal_box .cal_txt {margin-top:5px; font-size:14px;}
#wrapCont .cont_box .cal_box .resort_list {margin:55px 0;}
#wrapCont .cont_box .cal_box .resort_list li {margin:15px 0;}
#wrapCont .cont_box .cal_box .cal {position:absolute; top:20px; right:20px; width:568px; height:278px;}

#wrapCont .cont_box .exper_box {}
#wrapCont .cont_box .exper_choice {padding:40px 40px 15px;}
#wrapCont .cont_box .exper_choice .ex_tit {font-size:17px;}
#wrapCont .cont_box .exper_choice > ul {margin:0 -8px;}
#wrapCont .cont_box .exper_choice > ul li {margin:15px 8px; width:calc(20% - 16px);}
#wrapCont .cont_box .exper_choice .thumb {}

#wrapCont .cont_box .done {padding:50px;}
#wrapCont .cont_box .done > p {font-size:22px;}
#wrapCont .cont_box .done > p > span {}

#wrapCont .agree_box {position:relative; margin-top:70px;}
#wrapCont .agree_wrap {padding:0 40px 48px;}
#wrapCont .agree_top {padding:20px 40px;}
#wrapCont .agree_top .tit {padding-top:7px; font-size:17px;}
#wrapCont .agree_tit {margin-top:48px; font-size:17px;}
#wrapCont .agree_scroll {margin-top:25px; padding:15px 40px; height:285px;}
#wrapCont .agree_box .agchk {position:absolute; top:119px; right:40px;}
#wrapCont .agree_box .agchk label {margin-left:15px;}
#wrapCont .agree_box .agchk.sec {top:496px;}
#wrapCont .btn_box {margin-top:50px;}
#wrapCont .btn_box.left {margin-top:20px; text-align:left;}

/* why에버랜드 */
#wrapCont .list_box {}
#wrapCont .list_box.col {}
#wrapCont .list_box.col > div {margin-left:-1px; padding:39px 29px; width:calc(25% - 1px); height:257px;}
#wrapCont .list_box.col > div b {margin-bottom:12px; font-size:17px;}
#wrapCont .list_box.col > div > div {right:39px; bottom:39px;}
#wrapCont .list_box.col > div > div > span {font-size:54px;}
#wrapCont .list_box.col .first {font-size:20px; color:#fff; background:#ff971c;}
#wrapCont .list_box.col .first:after {left:100%; top:50%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events: none; border-color:rgba(255, 151, 28, 0); border-left-color:#ff971c; border-width:10px; margin-top:-10px;}
#wrapCont .safe_box {margin:38px -15px 0; overflow:hidden;}
#wrapCont .safe_box .col_2 {margin:0 15px; float:left; width:calc(50% - 34px); height:750px;}
#wrapCont .safe_box .col_2 .box {padding:37px;}
#wrapCont .safe_box .col_2 .box .tit {margin-bottom:25px; font-size:17px;}
#wrapCont .safe_box .col_2 .box .tit:after {margin-top:20px; width:28px; height:1px;}
#wrapCont .safe_box .year_list {position:relative;}
#wrapCont .safe_box .year_list li {margin:37px 0; line-height:1.4;}
#wrapCont .safe_box .year_list:after {position:absolute; top:4px; left:5px; display:block; content:''; width:1px; height:560px; background:url('/img/common/year_bar.gif') repeat-y left center; z-index:1;}
#wrapCont .safe_box .year_list strong {padding-left:24px; width:65px; background-image:url('/img/common/bullet_year.gif');}
#wrapCont .safe_box .year_list span {padding-left:13px; width:400px;}
#wrapCont .safe_box .year_list span:after {top:2px; width:1px; height:12px;}
#wrapCont .safe_box .safe_list {}
#wrapCont .safe_box .safe_list li {margin:30px 0; padding-left:105px; min-height:75px;}
#wrapCont .safe_box .safe_list li .thumb {top:0; left:0; width:75px; height:75px;}
#wrapCont .safe_box .safe_list li > p {line-height:1.6;}
#wrapCont .safe_box .safe_list li > p > span {font-size:15px;;}

/* 체험학습 프로그램 */
#wrapCont .tab_box {margin-top:74px;}
#wrapCont .tab_box .menu {}
#wrapCont .tab_box .menu li {}
#wrapCont .tab_box .menu li a {font-size:17px; height:48px; line-height:48px;}
#wrapCont .tab_cont {}

#wrapCont .exper_navi {}
#wrapCont .exper_navi.fix {width:1170px;}
#wrapCont .exper_navi ul {margin-top:70px;}
#wrapCont .exper_navi.fix ul {margin-top:0; border:1px solid #dedede; border-right:0 none;} 
#wrapCont .exper_navi li {width:25%;}
#wrapCont .exper_navi.fix li {width:calc(25% - 1px); height:58px; line-height:58px; border-right:1px solid #dedede;}
#wrapCont .exper_navi li .thumb {margin:0 auto 15px; width:94px; height:94px; border:1px solid #dedede; border-radius:50%;}
#wrapCont .exper_navi.fix li .thumb {display:inline-block; width:25px; height:25px; border:0 none;}
#wrapCont .exper_navi li .thumb > span {display:inline-block; margin-top:23px; width:50px; height:50px;}
#wrapCont .exper_navi.fix li .thumb > span {display:inline-block; margin-top:13px; width:25px; height:25px; background-size:100px 25px;}
#wrapCont .exper_navi.day.fix li .thumb > span {background-size:75px 50px;}
#wrapCont .exper_navi li .job {background-position:0 0;}
#wrapCont .exper_navi li .safe {background-position:-50px 0;}
#wrapCont .exper_navi li .emotion {background-position:-100px 0;}
#wrapCont .exper_navi li .history {background-position:-150px 0;}
#wrapCont .exper_navi.fix li .job {background-position:0 0;}
#wrapCont .exper_navi.fix li .safe {background-position:-25px 0;}
#wrapCont .exper_navi.fix li .emotion {background-position:-50px 0;}
#wrapCont .exper_navi.fix li .history {background-position:-75px 0;}

#wrapCont .program_list {margin:100px -15px 0;}
#wrapCont .program_list > li {margin:30px 15px; width:calc(25% - 30px); height:424px;}
#wrapCont .program_list .first {padding:40px; text-align:left;}
#wrapCont .program_list #job_exper .first {}
#wrapCont .program_list #safe_exper .first {}
#wrapCont .program_list #emotion_exper .first {}
#wrapCont .program_list #history_exper .first {}
#wrapCont .program_list .first .box_tit {font-size:22px;}
#wrapCont .program_list .first .box_tit:after {margin-top:20px; width:28px; height:1px;}
#wrapCont .program_list .first .box_txt {bottom:40px; width:170px; font-size:17px;}
#wrapCont .program_list li .thumb {}
#wrapCont .program_list li .ex_tit {margin:20px 0; font-size:20px;}
#wrapCont .program_list li .ex_txt {font-size:14px;}
#wrapCont .program_list li .ex_info {margin-top:25px;}
#wrapCont .program_list li .ex_info > span {margin-right:6px; width:12px; height:12px;}
#wrapCont .program_list li .ex_info .time {background-position:-154px -60px;}
#wrapCont .program_list li .ex_info .people {margin-left:8px; background-position:-167px -60px;}
#wrapCont .program_list li .tag {margin-top:10px;}
#wrapCont .program_list li .tag > span {padding:4px;}
#wrapCont .program_list li .dl_button {bottom:0; width:100%; text-align:center;}
#wrapCont .program_list li .dl_button a {padding-bottom:6px; font-size:14px;}
#wrapCont .program_list li .dl_button a > span {padding-right:90px;}
#wrapCont #job_exper .dl_button a > span {background-image:url('/img/common/dl_arrow.png');}
#wrapCont #safe_exper .dl_button a > span {background-image:url('/img/common/dl_arrow01.png')}
#wrapCont #emotion_exper .dl_button a > span {background-image:url('/img/common/dl_arrow02.png')} 
#wrapCont #history_exper .dl_button a > span {background-image:url('/img/common/dl_arrow03.png')}
#wrapCont .program_list li .total_btn {position:absolute; top:0; width:360px;}
#wrapCont .program_list li .total_btn dl { font-size:13px;}
#wrapCont .program_list li .total_btn dt {padding:11px 0;}
#wrapCont .program_list li .total_btn dd {}
#wrapCont .program_list li .total_btn dd a {padding:11px 0;}
#wrapCont .program_list li .total_btn dd ul {padding:11px 0;}
#wrapCont .program_list li .total_btn dd li {}
#wrapCont .program_list li .total_btn .workbook {padding:11px 0;}
#wrapCont .program_list li .total_btn .workbook a {}

/* 숙박형 체험안내 */
#wrapCont .stay_box {}
#wrapCont .exper_navi.day li {width:12%;}
#wrapCont .exper_navi.day li .one_day {background-position:0 0;}
#wrapCont .exper_navi.day li.off .one_day {background-position:0 -50px;}
#wrapCont .exper_navi.day li .two_day {background-position:-50px 0;}
#wrapCont .exper_navi.day li.off .two_day {background-position:-50px -50px;}
#wrapCont .exper_navi.day li .three_day {background-position:-100px 0;}
#wrapCont .exper_navi.day li.off .three_day {background-position:-100px -50px;}
#wrapCont .exper_navi.day.fix li .one_day {background-position:0 0;}
#wrapCont .exper_navi.day.fix li .two_day {background-position:-25px 0;}
#wrapCont .exper_navi.day.fix li .three_day {background-position:-50px 0;}
#wrapCont .exper_navi.day.fix li.off .one_day {background-position:0 -25px;}
#wrapCont .exper_navi.day.fix li.off .two_day {background-position:-25px -25px;}
#wrapCont .exper_navi.day.fix li.off .three_day {background-position:-50px -25px;}
#wrapCont .stay_list {margin:30px 0; border:1px solid #dedede;}
#wrapCont .stay_list > dl {}
#wrapCont .stay_list > dl dt {top:0; left:0; padding:30px 0; width:130px; font-size:15px;}
#wrapCont .two .stay_list > dl dt {height:124px; line-height:124px;}
#wrapCont .three .stay_list > dl dt {height:206px; line-height:206px;}
#wrapCont .four .stay_list > dl dt {height:288px; line-height:288px;}
#wrapCont .stay_list > dl dt > strong {font-size:17px;}
#wrapCont .stay_list > dl dd {padding:30px 30px 30px 170px;}
#wrapCont .stay_list > dl dd li {padding-left:58px; background-image:url('/img/common/bg_days.png');}
#wrapCont .stay_list > dl dd li:after {display:block; margin-left:-40px; content:''; padding-top:40px; background:url('/img/common/stay_list.png') no-repeat left center;}
#wrapCont .stay_list > dl dd li:last-child:after {display:none;}
#wrapCont .stay_list > dl dd li > strong {font-size:17px;}
#wrapCont .stay_list > dl dd li > span {padding-right:26px; background:url('/img/common/day_arrow.png') no-repeat 98% 4px;}
#wrapCont .stay_list > dl dd li > span:last-child {padding:0; background:none;}

/* 이용안내 */
#wrapCont .tab_box.month {margin-top:25px;}
#wrapCont .tab_box.month .menu li {width:calc(8.3333% - 1px)}
#wrapCont .inner_box {margin-bottom:70px; padding:40px;}3
#wrapCont .inner_wrap.stay {height:220px;}
#wrapCont .inner_wrap .inner_tit {font-size:17px;}
#wrapCont .inner_wrap ul {margin:20px 0 40px;}
#wrapCont .inner_wrap ul li {margin:7px 0; font-size:15px;}
#wrapCont .inner_wrap .step {margin:0 -20px; background:url('/img/common/guide_arrow.png') no-repeat 364px 85px;}
#wrapCont .inner_wrap .step > li {margin:20px; width:calc(33.333% - 40px);}
#wrapCont .inner_wrap .step .step_txt {font-size:17px;}
#wrapCont .inner_wrap .step .step_txt > span {margin-right:12px; width:33px; height:33px; line-height:34px; font-size:15px;}
#wrapCont .inner_wrap .thumb {position:absolute; top:0; right:0;}
#wrapCont .guide_box {padding:43px 50px; background-image:url('/img/common/bg_guide.jpg'); background-position:right top;}
#wrapCont .guide_box > h3 {font-size:35px;}
#wrapCont .guide_box > p {font-size:15px;}
#wrapCont .guide_box .btn_box {}
#wrapCont .guide_box .btn_box a {padding:10px 28px;}

/* 뉴스 */
 
.list_ctrl {margin-top:30px;}
.list_ctrl li {}
.list_ctrl li dt {padding:17px 0; width:135px; text-align:center;}
.list_ctrl li dd {padding:17px 0; padding-left:30px;}
.list_ctrl li dd a {}

/* 행사관련 서류 */
#wrapCont .file_box {}
#wrapCont .file_box .file_top {padding:20px 0 20px 30px;}
#wrapCont .file_box ul {}
#wrapCont .file_box ul li {float:left; padding:20px 0 20px 30px; width:50%;}
#wrapCont .file_box ul li:nth-child(even) {border-left:1px solid #dedede;} 

.double_tab {height:50px;}
.double_tab .col_2 {height:50px; line-height:50px;}
.double_tab .col_2 a {font-size:17px;}

#wrapFooter {margin-top:55px;}
#wrapFooter .copyright {height:55px; line-height:55px; font-size:14px;}

.ui-datepicker th  {padding:.8em;}
.ui-datepicker td a {margin:0 .9rem;}

/* 셀렉트 박스 */
.select_box {margin-right:5px; width:180px; height:35px; background-size:35px 34px;}
.select_box label {font-size:14px; top:6px; left:9px;}
.select_box select {width:100%; height:32px; min-height:32px; line-height: 32px; padding:0 50px 0 10px;}

/* bullet style */
.bullet_list {padding-left:14px;}
.bullet_list:after {top:7px; left:0; width:3px; height:3px;}

/* table */
.mBoard {}
.mBoard.resort {margin-top:40px;}
.mBoard.resort th {padding:10px; font-size:15px;}
.mBoard table {}
.mBoard th {padding:15px 0; font-size:17px;}
.mBoard th .head {width:20%; font-size:15px;}
.mBoard th .head.left {}
.mBoard th .head.tit {width:59%; font-size:20px; font-weight:bold; color:#222;}
.mBoard th .head.right {}
.mBoard th.ever {background:#fffaf3;}
.mBoard th.cabi {background:#f2fbff;}
.mBoard td {padding:15px 15px;}
.mBoard td input {padding:10px; height:32px;}
.mBoard td .half li {float:left; width:50%;}
.mBoard td .bullet {padding-left:12px; width:100px; font-size:17px; font-weight:600;}
.mBoard td .gLong {width:219px;}
.mBoard .agree_text {margin-right:75px; padding-left:30px;}
.mBoard .last {border-right:0 none;}
.mBoard .table_sub {margin-top:20px; font-size:14px;}
.mBoard .table_sub a {}
.mBoard .select_box {width:219px; }
.mBoard .select_box.shot {width:100px; }
.mBoard tfoot strong {margin:0 40px; font-size:22px;}
#wrapCont .mBoard .btn_box {margin-top:20px; text-align:left;}

/* autocomplete */
.ui-autocomplete {width:310px;}
.ui-autocomplete li {padding:8px; font-size:16px;}
.ui-autocomplete li:hover {}
#ui-id-1 {width:250px;}

/* tab_menu */
.tab_menu {margin-top:40px;}
.tab_menu ul {border-top:0 none;}
.tab_menu li {float:left; text-align:center;}
.tab_menu li a {font-size:17px;}
.tab_menu li a:first-child {}
.tab_menu li.on a {}

/* common --------------------------------------------------------------------------------------------------------------------------------------------*/
.scroll_navi {top:50%; left:50%; margin:-162px 0 0 646px; z-index:11;}
.scroll_navi ul {}
.scroll_navi ul li {margin-bottom:30px;}
.scroll_navi ul li a {}
.scroll_navi ul li .navi_ico {margin-bottom:10px; width:60px; height:60px;}
.scroll_navi ul li.nav_02 .navi_ico {background-position:0 -60px;}
.scroll_navi ul li.nav_03 .navi_ico {background-position:0 -120px;}
.scroll_navi ul li .tooltip {top:0; left:-125px; width:142px; height:45px; line-height:40px;}
.scroll_navi ul li.nav_02 .tooltip {background-position:0 -45px;}
.scroll_navi ul li.nav_03 .tooltip {background-position:0 -90px;}
.scroll_navi ul li:hover .tooltip {display:block;}

/* 팝업 */
.popup {top:50%; left:50%; padding:85px 60px 40px;}
.exper_pop.popup {width:1170px;}
.popup .pop_wrap {}
.popup .pop_wrap h3 {margin-bottom:30px; font-size:22px;}
.popup .pop_wrap .gUtil {}
.popup .pop_wrap .mBoard {margin-bottom:75px;}
.popup .gScroll {overflow-y:auto; height:620px;}
.popup .btn_close {top:20px; right:20px; width:23px; height:24px;}
.popup .btn_close a {background-image:url('/img/common/pop_close.png');}

/* button */
.btn_box {}
.btn_box > a {padding:10px 25px;}
.btn_box .down {margin-left:0;}
.btn_box .view > span {padding-right:20px; font-size:15px; background-position:center right;}

.btn_box .next span {padding-right:50px; font-size:15px; background-position:center right;}
.btn_box .next span.file {padding-right:25px; background-image:url('/img/common/bg_down.png');}
.btn_box .normal span {padding-right:20px; font-size:15px; background-position:center right;}

/* 이미지형 아이콘 */
a.btn_ico, button.btn_ico, span.btn_ico {background-image:url('/img/common/sp_icon.png'); background-repeat:no-repeat;}
.btn_ico.exper {width:60px; height:59px; background-position:0 0;}
.btn_ico.program {width:52px; height:59px; background-position:-67px 0;}
.btn_ico.reserve {width:67px; height:60px; background-position:-128px 0;}
.btn_ico.info {width:60px; height:59px; background-position:-200px 0;}
.btn_ico.more {width:23px; height:23px; background-position:0 -59px;}
.btn_ico.m_count {margin-right:7px; width:8px; height:12px; background-position:-23px -59px;}
.btn_ico.noti {margin-top:-2px; margin-right:2px; width:15px; height:15px; background-position:-34px -61px;}
.btn_ico.tuv {margin-top:7px; width:91px; height:41px; background-position:-379px -0px;}
.btn_ico.down {margin-left:10px; width:13px; height:10px; background-position:-69px -60px;}
.btn_ico.work {margin-left:10px; width:15px; height:14px; background-position:-83px -60px;}
.btn_ico.file {margin-left:10px; width:13px; height:10px; background-position:-69px -60px;}
