
body, form, input, select, textarea, button { font-size:0.8em; line-height:1em; }

html, body {overflow-x:hidden;}

/* layout -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Top */
#wrapTop {position:fixed; top:0; height:58px; border-bottom:1px solid #fa8808; background:#fff; z-index:11;}
#wrapTop h1 {top:12px; left:50%; margin-left:10px; width:83px; height:31px;}
#wrapTop h1 a {background-image:url('/img/common/m_logo.png'); background-repeat:no-repeat; background-size:83px 31px;}
/* 2018-06-20 */
#wrapTop .resort {top:8px; left:50%; margin-left:-55px; width:51px; height:42px; background:url('/img/common/resort_m_logo.png') no-repeat; background-size:51px 42px;}
#wrapTop .resort a {display:block; width:100%; height:100%;}

#wrapTop .menuBox {display:none;}
#wrapTop .btnMenu {position:absolute; top:0; left:0; width:57px; height:58px; text-indent:-999em; background-size:21px 16px; background-position:center;}
#wrapTop #totalMenu {top:0; left:0; height:100%; z-index:51;}
#wrapTop #totalMenu .logo {height:58px;}
#wrapTop #totalMenu .logo a {width:100%; height:58px; text-indent:-999em; background-size:83px 31px; background-position:84% 12px;}
#wrapTop #totalMenu .btnClose {top:0; left:0; width:57px; height:58px; background-image:url('/img/common/btn_mClose.png'); background-size:17px 16px; background-position:center;}
#wrapTop #totalMenu .menu {}
#wrapTop #totalMenu .menu li {height:55px;}
#wrapTop #totalMenu .menu li a {padding:20px 15px;}
#wrapTop #totalMenu .menu .depth1 {display:none;}

/* body */
#wrapCont {margin-top:59px; background:#f2f2f2;}
#wrapCont .contents {margin-top:100px;}
#wrapCont.sub {padding:0 18px; background:#fff;}
#wrapCont .sec_tit {margin-bottom:20px; line-height:1; text-align:center; font-size:1.3rem;}
#wrapCont .main_util {}
#wrapCont .main_util .top_menu {margin:10px 0;}
#wrapCont .main_util .top_menu .col_2 {margin-top:10px; background:#fff;}
#wrapCont .main_util .top_menu .col_2 li {padding:15px 0; width:25%; text-align:center;}
#wrapCont .main_util .top_menu .col_2 li p {margin-top:12px; line-height:1.2;}
#wrapCont .main_util .top_menu .col_2 li p > span {display:block;}
#wrapCont .main_util {}

#wrapCont .cont {margin-bottom:10px; padding:25px 0; border-bottom:1px solid #dedede; background:#fff;}

#wrapCont .visualBox {margin-bottom:10px; border-bottom:1px solid #dedede;}
#wrapCont .main_slide {margin-bottom:10px;}
#wrapCont .main_slide .bx-wrapper {position:relative;}
#wrapCont .main_slide .bx-wrapper img {width:100%;}
#wrapCont .main_slide .bx-wrapper .bx-pager {position:absolute;width:100%;bottom:30px;text-align: center;}
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a {
  background:url('/img/common/pager.png') no-repeat bottom center; text-indent:-9999px; display:block; width:9px; height:9px; margin:0 5px; outline:0;}
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/pager.png') no-repeat top center;
}
#wrapCont .main_slide .bx-wrapper .bx-pager-item,
#wrapCont .main_slide .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline-block; vertical-align:bottom; *zoom:1; *display: inline;}
#wrapCont .main_slide .bx-wrapper .bx-pager-item {font-size:0; line-height:0;}
#wrapCont .notice_box {padding:15px; background:#fff;}
#wrapCont .notice_box h3  {display:inline-block; width:20%;}
#wrapCont .notice_box .bx-wrapper  {display:inline-block; width:65%;}
#wrapCont .notice_box .bx-wrapper li {margin:1px 0;}
#wrapCont .notice_box .bx-wrapper li a {display:block; overflow:hidden; line-height:1.2; font-size:.9rem; white-space:nowrap; text-overflow:ellipsis;}
#wrapCont .notice_box .noice_more {top:8px; right:17px;}

#wrapCont .movie_preview {padding:10px 15px;}
#wrapCont .movie_preview ul {margin:0 -6px 0;}
#wrapCont .movie_preview ul > li {width:calc(50% - 12px); margin:10px 6px;}
#wrapCont .movie_preview ul > li .thumb {}
#wrapCont .movie_preview ul > li .thumb img {width:100%;}
#wrapCont .movie_preview ul > li .txt_box {}
#wrapCont .movie_preview ul > li .txt_box p {overflow:hidden; margin-bottom:14px; font-size:.8rem; white-space:nowrap; text-overflow:ellipsis;}
#wrapCont .movie_preview ul > li .txt_box > strong {display:block; margin:15px 0 6px; font-size:.9rem;}
#wrapCont .movie_preview ul > li .txt_box .count {}

#wrapCont .contBox2 {margin-bottom:30px;}
#wrapCont .contBox2 .why_box {position:static; margin-bottom:35px;}
#wrapCont .contBox2 p {line-height:1.4; font-size:.9rem; text-align:center;}
#wrapCont .contBox2 ul li > div {margin-bottom:15px;}
#wrapCont .contBox2 ul li > div > span {font-size:4rem; font-weight:600;}
#wrapCont .contBox2 ul li > div > .bg_tuv {padding-top:60px; background-position:top center; background-image:url('/img/common/bg_m_tuv.png'); background-size:124px 55px;}
#wrapCont .contBox2 .bx-wrapper {position:relative;}
#wrapCont .contBox2 .bx-controls .bx-controls-direction a {
position: absolute; top:50%; margin-top:-100px; outline:0; width:14px; height:25px; text-indent:-9999px; background-image:url('/img/common/bx_ctrl.png'); background-repeat:no-repeat; background-size:28px 50px; z-index:10;
}
#wrapCont .contBox2 .bx-controls .bx-controls-direction .bx-prev {
left:10px; background-position:0 0;
}
#wrapCont .contBox2 .bx-controls .bx-controls-direction .bx-next {
right:10px; background-position:-14px 0;
}
#wrapCont .contBox2 .bx-controls .bx-controls-direction .bx-prev.disabled {
left:10px; background-position:0 -25px;
}
#wrapCont .contBox2 .bx-controls .bx-controls-direction .bx-next.disabled {
right:10px; background-position:-14px -25px;
}


#wrapCont .contBox3  {padding:0 33px; background:#f2f2f2;}
#wrapCont .contBox3 .bx_exper > div {float:none;}
#wrapCont .contBox3 .bx-viewport {overflow:visible !important;}
#wrapCont .contBox3 .bx_exper .thumb {top:0; left:0;}
#wrapCont .contBox3 .bx_exper > div > h3 {height:40px; line-height:40px;}
#wrapCont .contBox3 .bx_exper > div > ul {padding:0 20px; background:#fff;}
#wrapCont .contBox3 .bx_exper > div > ul li {padding:20px 0; min-height:115px; border-bottom:1px solid #dedede;}
#wrapCont .contBox3 .bx_exper > div > ul li a {padding-left:95px; font-size:.9rem;}
#wrapCont .contBox3 .bx_exper > div > ul li a > span {margin-right:5px;}
#wrapCont .contBox3 .bx_exper p {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}


#wrapCont .contBox3 {margin-bottom:0; padding-bottom:63px;}
#wrapCont .contBox3 .bx-wrapper {position:relative;}
#wrapCont .contBox3 .bx-wrapper img {width:100%;}
#wrapCont .contBox3 .bx-wrapper .bx-pager {position:absolute;width:100%;bottom:-40px;text-align: center;}
#wrapCont .contBox3 .bx-wrapper .bx-pager.bx-default-pager a {
  background:url('/img/common/pager01.png') no-repeat bottom center; text-indent:-9999px; display:block; width:9px; height:9px; margin:0 5px; outline:0;}
#wrapCont .contBox3 .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .contBox3 .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont .contBox3 .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/pager01.png') no-repeat top center;
}
#wrapCont .contBox3 .bx-wrapper .bx-pager-item,
#wrapCont .contBox3 .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline-block; vertical-align:bottom; *zoom:1; *display: inline;}
#wrapCont .contBox3 .bx-wrapper .bx-pager-item {font-size:0; line-height:0;}


#wrapCont .contBox4 {}
#wrapCont .contBox4 .reserve_box {margin-top:50px;}
#wrapCont .contBox4 .reserve_box .tit {margin-bottom:15px; padding-left:8px; min-height:30px; line-height:1.2; font-size:.8rem;}
#wrapCont .contBox4 .reserve_box .tit:after {top:0; left:0; width:1px; height:13px; background:#fcac3a;}
#wrapCont .contBox4 .reserve_box .col_4 {margin:10px 15px; width:calc(50% -  30px);}
#wrapCont .contBox4 .reserve_box .col_4 .tit span {display:block;}
#wrapCont .contBox4 .reserve_box .thumb  img {width:100%;}
#wrapCont .contBox4 .txt {margin:0 40px; text-align:center;}
#wrapCont .contBox4 p {line-height:1.4;}
#wrapCont .contBox4 .sub_txt {margin-top:15px; text-align:center;}

#wrapCont .contBox5 {padding:30px 17px;}

#wrapCont .status {display:none;}

#wrapCont .contents .title {margin-top:40px; font-size:1.7rem;}
#wrapCont .contents .title.tit_box  {}
.tab_menu {margin-top:30px;}
#wrapCont .contents .top_box {margin-top:50px; padding:25px 62px;}
#wrapCont .contents .top_box .txt {line-height:1.5; text-align:center; font-size:.9rem;}
#wrapCont .contents .top_box .normal {margin-top:15px; padding:15px; font-size:.9rem; font-weight:600;}

#wrapCont .step_box {padding:50px 0 10px;}
#wrapCont .step_box > ol {}
#wrapCont .step_box > ol > li {width:19%;}
#wrapCont .step_box > ol > li:after {top:36%; right:-30%; width:100%; height:1px;}
#wrapCont .step_box .thumb {padding:1.2em 0; background-size:59px 58px; background-position:center top;}

#wrapCont .cont_box {margin-top:50px;}
#wrapCont .cont_box .sub_tit {margin-bottom:15px; line-height:1; font-size:1.1rem;}
#wrapCont .cont_box .toggle_menu {margin-top:15px;}
#wrapCont .cont_box .toggle_menu dt {padding:18px 15px 10px; line-height:1.4; font-size:.9rem; background-image:url('/img/common/dt_list_mState.png'); background-size:17px 120px; background-position:97% 120%;}
#wrapCont .cont_box .toggle_menu dt.on {background-position:97% -20%;}
#wrapCont .cont_box .toggle_menu dt .subject {display:block;}
#wrapCont .cont_box .toggle_menu dd > ul {padding:15px;}
#wrapCont .cont_box .toggle_menu dd > ul > li {margin:15px 0; padding-left:13px; line-height:1.4;}
#wrapCont .cont_box .toggle_menu dd > ul > li:after {top:5px; left:0; width:3px; height:3px;}
#wrapCont .cont_box .toggle_menu dd > ul > li ul {margin-top:10px;}

#wrapCont .cont_box #my_faq {margin-top:40px;}
#wrapCont .cont_box #my_faq dt {padding:18px 15px 10px; line-height:1.4; font-size:.9rem; background-image:url('/img/common/dt_list_mState.png'); background-size:17px 120px; background-position:97% 120%;}
#wrapCont .cont_box #my_faq dt.on {background-position:97% -20%;}
#wrapCont .cont_box #my_faq dt .q_mark {padding:0 20px 0 20px; font-size:17px;}
#wrapCont .cont_box #my_faq dd {padding:28px 40px; line-height:1.4;}

#wrapCont .cont_box .cal_box {padding:15px;}
#wrapCont .cont_box .cal_box .resort_list {}
#wrapCont .cont_box .cal_box .resort_list li {margin:10px 0;}
#wrapCont .cont_box .cal_box .cal {}

#wrapCont .btn_box {margin-top:30px;}

/* why에버랜드 */
#wrapCont .sub_txt {line-height:1.4;}
#wrapCont .list_box {}
#wrapCont .list_box.col {}
#wrapCont .list_box.col > div {padding:20px 15px; width:50%; min-height:200px; font-size:.9rem;}
#wrapCont .list_box.col > div:nth-child(odd) {border-top:0 none; border-right:0 none;}
#wrapCont .list_box.col > div:nth-child(3n-1) {border-bottom:0 none;}
#wrapCont .list_box.col > div em {display:block;}
#wrapCont .list_box.col > div b {}
#wrapCont .list_box.col > div > div {right:15px; bottom:15px;}
#wrapCont .list_box.col > div > div > span {font-size:30px;}
#wrapCont .list_box.col .first {}
#wrapCont .list_box.col .first:after {left:100%; top:50%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events: none; border-color:rgba(255, 151, 28, 0); border-left-color:#ff971c; border-width:10px; margin-top:-10px;}
#wrapCont .safe_box {}
#wrapCont .safe_box .col_2 {margin-top:35px;}
#wrapCont .safe_box .col_2 .box {padding:30px 15px;}
#wrapCont .safe_box .col_2 .box .tit {}
#wrapCont .safe_box .year_list {}
#wrapCont .safe_box .year_list li {margin:18px 0; line-height:1.2;}
#wrapCont .safe_box .year_list strong {width:20%;}
#wrapCont .safe_box .year_list span {width:80%;}
#wrapCont .safe_box .safe_list {}
#wrapCont .safe_box .safe_list li {margin:30px 0;}
#wrapCont .safe_box .safe_list li .thumb {top:0; left:0; width:27%;}
#wrapCont .safe_box .safe_list li > p {padding-left:30%; line-height:1.4;}
#wrapCont .safe_box .safe_list li > p > span{margin-bottom:15px;}

/* 체험학습 프로그램 */
#wrapCont .cont_box .down_box {margin-top:50px;}
#wrapCont .tab_box {margin:50px 0 35px;}
#wrapCont .tab_box .menu {border-bottom:0 none;}
#wrapCont .tab_box .menu li {width:calc(25% - 1px); border-bottom:1px solid #dedede;}
#wrapCont .tab_box.month .menu li {width:calc(16.6% - 1px); border-bottom:1px solid #dedede;}
#wrapCont .tab_box .menu li a {padding-top:8px; line-height:1.4; font-size:.8rem; height:45px;}
#wrapCont .tab_box.month .menu li a {height:30px;}
#wrapCont .tab_box .menu li a em {display:block;}
#wrapCont .tab_cont  {}

#wrapCont .exper_navi {}
#wrapCont .exper_navi.fix {left:0; width:100%;}
#wrapCont .exper_navi ul {margin-top:50px;}
#wrapCont .exper_navi.fix ul {margin-top:59px; border:1px solid #dedede; border-right:0 none;} 
#wrapCont .exper_navi li {width:25%;}
#wrapCont .exper_navi.fix li {width:calc(25% - 1px); height:58px; border-right:1px solid #dedede;}
#wrapCont .exper_navi li .thumb {margin:0 auto 5px; width:58px; height:58px; border:1px solid #dedede; border-radius:50%;}
#wrapCont .exper_navi.fix li .thumb {display:block; width:25px; height:25px; border:0 none;}
#wrapCont .exper_navi li .thumb > span {display:inline-block; margin-top:17px; width:25px; height:25px;  background-size:100px 25px;}
#wrapCont .exper_navi.fix li .thumb > span {display:block; margin-top:10px; width:25px; height:25px; background-size:100px 25px;}
#wrapCont .exper_navi li .job {background-position:0 0;}
#wrapCont .exper_navi li .safe {background-position:-25px 0;}
#wrapCont .exper_navi li .emotion {background-position:-50px 0;}
#wrapCont .exper_navi li .history {background-position:-75px 0;}
#wrapCont .exper_navi.fix li .job {background-position:0 0;}
#wrapCont .exper_navi.fix li .safe {background-position:-25px 0;}
#wrapCont .exper_navi.fix li .emotion {background-position:-50px 0;}
#wrapCont .exper_navi.fix li .history {background-position:-75px 0;}

#wrapCont .program_list {margin:0 -14px;}
#wrapCont .program_list > li {margin:35px 7px; width:calc(50% - 14px ); min-height:308px;}
#wrapCont .program_list .first {margin:0 7px; overflow:hidden; width:96%; height:135px; min-height:auto; background-position:center;}
#wrapCont .program_list .first p {float:left; width:50%; text-align:left; box-sizing:border-box;}
#wrapCont  #job_exper .first {background-image:url('/img/program/bg_m_job.jpg');}
#wrapCont  #safe_exper .first {background-image:url('/img/program/bg_m_safe.jpg');}
#wrapCont  #emotion_exper .first {background-image:url('/img/program/bg_m_emotion.jpg');}
#wrapCont  #history_exper .first {background-image:url('/img/program/bg_m_history.jpg');}
#wrapCont .program_list .first .box_tit {padding:30px 25px; font-size:1.1rem;}
#wrapCont .program_list .first .box_tit:after {margin-top:9px; width:14px; height:1px;}
#wrapCont .program_list .first .box_txt {padding:30px 20px 0 7px; position:static;}
#wrapCont .program_list li .thumb {}
#wrapCont .program_list li .thumb img {width:100%;}
#wrapCont .program_list li p {line-height:1.2; font-size:.9rem;}
#wrapCont .program_list li .ex_tit {margin:20px 0;}
#wrapCont .program_list li .ex_txt {}
#wrapCont .program_list li .ex_info {margin-top:15px;}
#wrapCont .program_list li .tag {display:none;}
#wrapCont .program_list li .dl_button {width:100%; bottom:0;}
#wrapCont .program_list li .dl_button a {font-size:.9rem;}
#wrapCont .program_list li .dl_button a > span {padding-right:35px;}
#wrapCont #job_exper .dl_button a > span {background-image:url('/img/common/dl_arrow.png');}
#wrapCont #safe_exper .dl_button a > span {background-image:url('/img/common/dl_arrow01.png')}
#wrapCont #emotion_exper .dl_button a > span {background-image:url('/img/common/dl_arrow02.png')} 
#wrapCont #history_exper .dl_button a > span {background-image:url('/img/common/dl_arrow03.png')}
#wrapCont .program_list li .total_btn {position:fixed; top:120px; left:3%; padding-bottom:70px; width:94%;}
#wrapCont .program_list li .total_btn dt {padding:17px 0;}
#wrapCont .program_list li .total_btn dd a {padding:17px 0;}
#wrapCont .program_list li .total_btn dd ul {padding:17px 0;}
#wrapCont .program_list li .total_btn dd li {margin:10px 0;}
#wrapCont .program_list li .total_btn .workbook {padding:17px 0;}
#wrapCont .program_list li .total_btn .close_work {position:absolute; bottom:0; width:100%; text-align:center;}
#wrapCont .program_list li .total_btn .close_work a {display:inline-block; width:50px; height:50px;}
#wrapCont .program_list li .total_btn .close_work img {width:100%;}

/* 숙박형 체험안내 */
.tab_menu.col_6 li {width:calc(17% -  5px);}
.tab_menu li a em {display:block;}
#wrapCont .exper_navi.day li .thumb > span {width:32px; height:25px; background-size:100px 50px;}
#wrapCont .exper_navi.day li .one_day {background-position:0 0;}
#wrapCont .exper_navi.day li .two_day {background-position:-33px 0;}
#wrapCont .exper_navi.day li .three_day {background-position:-67px 0;}
#wrapCont .stay_box {}
#wrapCont .stay_list {}
#wrapCont .stay_list > p {}
#wrapCont .stay_list > dl {}
#wrapCont .stay_list > dl {}
#wrapCont .stay_list > dl dt {position:static; display:block; padding:7px 0; width:100%; font-size:1.2rem;}
#wrapCont .stay_list > dl dd {padding:15px 15px;}
#wrapCont .stay_list > dl dd > span {}
#wrapCont .stay_list > dl dd li {margin:15px 0; padding-left:38px; line-height:1.4; background-image:url('/img/common/bg_days.png'); background-size:20px 18px; background-position:left top;}
#wrapCont .stay_list > dl dd li > strong {font-size:.9rem;}
#wrapCont .stay_list > dl dd li > span {padding:4px 0; padding-right:16px; background:url('/img/common/day_arrow.png') no-repeat 98% center;}
#wrapCont .stay_list > dl dd li > span:last-child {padding:0; background:none;}

/* 이용안내 */
#wrapCont .inner_box {margin-top:35px; padding:30px 15px;}
#wrapCont .inner_wrap {margin-bottom:25px;}
#wrapCont .inner_wrap .inner_tit {font-size:.9rem;}
#wrapCont .inner_wrap ul {margin:20px 0 25px;}
#wrapCont .inner_wrap ul li {margin:7px 0;}
#wrapCont .inner_wrap .step {overflow:hidden; margin:0 -7px}
#wrapCont .inner_wrap .step > li {float:left; margin:15px 7px; width:calc(50% - 14px);}
#wrapCont .inner_wrap .step > li img {width:100%;}
#wrapCont .inner_wrap .step .step_txt {position:relative; margin-top:15px; padding-left:36px; min-height:34px; line-height:1.2;}
#wrapCont .inner_wrap .step .step_txt > span {position:absolute; top:0; left:0; padding:5px;}
#wrapCont .inner_wrap .thumb {margin-top:20px;}
#wrapCont .inner_wrap .thumb img {width:100%;}
#wrapCont .guide_box {padding:25px; background-image:url('/img/common/bg_m_guide.jpg'); background-size:325px 174px; background-position:right bottom;}
#wrapCont .guide_box > h3 {}
#wrapCont .guide_box > p {}
#wrapCont .guide_box .btn_box {}

/* 뉴스 */
 
.list_ctrl {}
.list_ctrl li {}
.list_ctrl li dt {}
.list_ctrl li dd {}
.list_ctrl li dd a {}

/* 행사관련 서류 */
#wrapCont .file_box {}
#wrapCont .file_box .file_top {padding:10px 0;}
#wrapCont .file_box ul {}
#wrapCont .file_box ul li {padding:10px 0;}

.innder_tab:after {display:block; content:''; clear:both;}
.double_tab {border:0 none;}
.double_tab .col_2 a {padding:15px 0;}

#wrapCont .cont_box .exper_box {}
#wrapCont .cont_box .exper_choice {padding:15px;}
#wrapCont .cont_box .exper_choice .ex_tit {font-size:.9rem;}
#wrapCont .cont_box .exper_choice > ul {margin:0 -6px;}
#wrapCont .cont_box .exper_choice > ul li {margin:6px; width:calc(50% - 12px); min-height:115px;}

#wrapCont .cont_box .done {}
#wrapCont .cont_box .done > p {}
#wrapCont .cont_box .done > p > span {}

#wrapCont .agree_box {margin-top:50px;}
#wrapCont .agree_wrap {padding:0 14px 24px;}
#wrapCont .agree_top {padding:14px;}
#wrapCont .agree_top .tit {line-height:1.4; font-size:1rem;}
#wrapCont .agree_tit {margin-top:45px; font-size:1rem;}
#wrapCont .agree_box .agchk {margin-top:8px;}
#wrapCont .agree_scroll  {margin-top:15px; padding:10px 23px; height:179px;}
#wrapCont .agree_box .btn_box {margin-top:30px;}

/* Footer */
#wrapFooter {margin-top:50px; padding:15px 0;}

/* autocomplete */
.ui-autocomplete {width:100%;}
.ui-autocomplete li {padding:6px; font-size:.9rem;}
.ui-autocomplete li:hover {}
#ui-id-1 {width:100%;}

/* common --------------------------------------------------------------------------------------------------------------------------------------------*/
#maskMobile { z-index:10; background-color:#232927; opacity:.7; }
.scroll_navi {display:none;}

.btnTop { display:none; right:15px; bottom:103px; width:43px; height:43px;}
.btnTop a {display:block; height:100%; background:#fff url('/img/common/m_top.png') no-repeat center; background-size:26px 22px}

/* 셀렉트 박스 */
.select_box {position:relative; width:auto; height:36px; background-size:35px 34px;}
.sort.etc .select_box {}
.select_box.shot {width:31%;}
.select_box label {font-size:14px; top:6px; left:9px;}
.select_box select {width:100%; height:32px; min-height:32px; line-height: 32px; padding:0 50px 0 10px;}

/* bullet style */
.bullet_list {padding-left:13px; line-height:1.4;}
.bullet_list:after {left:0; top:6px; width:3px; height:3px;}

/* table */
.mBoard .rwd-table th {display:none;}
.mBoard .rwd-table tr {display:block; }
.mBoard .rwd-table td {display:block; position:relative; padding:8px; padding-left:36%; height:34px;}
.mBoard .rwd-table td:before {position:absolute; top:0; left:0; display:block; overflow-x:scroll; width:40%; height:50px; line-height:50px; padding-left:10px; border-right:1px solid #dedede; white-space:nowrap; content: attr(data-th) ": "; text-align:left; background:#f8f8f8;}
.mBoard td .bullet {padding-left:12px; width:100px; font-size:.9rem; font-weight:600;}
.mBoard td .bullet.num {width:40px;}
.mBoard .table_sub {margin-top:15px; line-height:1.4;}
.mBoard .table_sub a {display:block;}
.mBoard th, .mBoard td {padding:12px;}
.mBoard.gScroll {overflow-x:scroll;}
.mBoard.gScroll table {width:1170px;}
.mBoard.gBlock td, .mBoard.gBlock tr {display:block;}
.mBoard .select_box {}
#wrapCont .mBoard .btn_box {margin-top:20px; text-align:left;}


/* 반응형 테이블 */
.mBoard.rs_table table,.mBoard.rs_table thead, .mBoard.rs_table tbody,
.mBoard.rs_table th,.mBoard.rs_table td,.mBoard.rs_table tr {display: block;}
.mBoard.rs_table thead tr { position:absolute; top:-9999px; left:-9999px; }
.mBoard.rs_table td {position:relative; padding:8px; padding-left:44%;}
.mBoard.rs_table td:before {position:absolute; top:0; left:0; width:30%; height:50px; line-height:50px; padding-right:10px; border-right:1px solid #dedede; white-space:nowrap; background:#f8f8f8;}
.mBoard.rs_table td:nth-of-type(1):before { content: "이름"; }
.mBoard.rs_table td:nth-of-type(2):before { content: "휴대폰"; }
.mBoard.rs_table td:nth-of-type(3):before { content: "이메일"; }
.mBoard td .gShort {width:28%;}

.mBoard.file tr, .mBoard.file th, .mBoard.file tbody {display:block; overflow:hidden;}
.mBoard.file td {display:inline-block; float:left; width:33.3333%; box-sizing:border-box;}

.mBoard td > span {display:block;}
.mBoard td input {padding:5px; width:55%; height:35px; font-size:.8rem;}
.mBoard td .ip_num {margin-left:10px; width:40px; }
.mBoard td input.gFull {width:100%;}
	
.ip_hidden + label {display:inline-block; padding:5px 0  5px 30px; background: url('/img/common/m_chk_off.gif') 0 3px no-repeat; background-size:16px 16px;}
.ip_hidden label.on {background: url('/img/common/m_chk_on.gif') 0 3px no-repeat; background-size:16px 16px;}
.ip_hidden:checked + label {background: url('/img/common/m_chk_on.gif') 0 3px no-repeat; background-size:16px 16px;}

.ui-datepicker th {padding:.6em;}


/* 팝업 */
.popup {top:50%; left:50%; margin:0 15px; width:90%; height:100%;}
.popup .pop_wrap.gScroll {overflow-y:auto; height:100%;}
.popup .pop_wrap h3 {}
.popup .pop_wrap .gUtil {}
.popup .pop_wrap .gScroll {overflow-y:auto;}
.popup .btn_close {}
.popup .btn_close a {}

/*로딩박스*/
.loading_box {left:0; padding:25px; width:100%;}
.loading_box img {width:49px;}
.loading_box > p {margin-top:15px; font-size:1rem;}

/* button */
.btn_box {}
.btn_box.left {text-align:left;}
.btn_box.left a {margin:5px;}
.btn_box > a{padding:10px 20px;}
.btn_box .down {margin-left:0;}
.btn_box .view > span {padding-right:20px; font-size:15px; background-position:center right;}
.btn_box .next span {padding-right:20px; font-size:15px; background-position:center right;}
.btn_box .normal span {padding-right:20px; font-size:15px; background-position:center right;}
/*2018-06-20*/
.btn_box .cancle {margin:0 0 15px;}

/* 이미지형 아이콘 */
a.btn_ico, button.btn_ico, span.btn_ico {background-image:url('/img/common/sp_icon.png'); background-repeat:no-repeat; background-size:250px 250px;}
.btn_ico.exper {width:35px; height:31px; background-position:0 -41px;}
.btn_ico.program {width:29px; height:31px; background-position:-41px -43px;}
.btn_ico.reserve {width:40px; height:31px; background-position:-74px -43px;}
.btn_ico.info {width:35px; height:31px; background-position:-117px -40px;}
.btn_ico.more {width:32px; height:32px; background-position:-134px 0;}
.btn_ico.m_count {margin-right:7px; width:6px; height:9px; background-position:-27px -30px;}
.btn_ico.noti {margin-top:-2px; margin-right:2px; width:18px; height:17px; background-position:-166px 0;}
.btn_ico.work {margin-left:5px; width:17px; height:12px; background-position:-59px -30px;}
.btn_ico.tuv {margin-top:4px; width:59px; height:26px; background-position:-182px -20px;}

/* 2018-06-25 */
.agree_box .provtit {margin-top:30px;}
.agree_box .policy_txtinfo {margin-top:7px; line-height:18px;}
.agree_box .policy_txtinfo .pd1 {padding-left:15px; line-height:18px;}
.agree_box .box01 {margin-top:10px;}
.agree_box .provbox dl {padding:4px 15px 16px;}
.agree_box .provbox table {margin:5px 0 10px 0; }
.agree_box .provbox table th {padding:9px 0 6px 0; }
.agree_box .provbox table td {padding:9px 5px 6px 10px; }
.agree_box .provbox table td.stit padding:9px 0 6px 0;}
.agree_box .provbox2 {padding:10px 0 0 12px;}

/* 2018-06-26 */
#wrapCont .guide_box.cb {background-image:url('/img/common/bg_m_guide_cb.jpg');}
#wrapCont .guide_box > h3  {padding-top:30px; font-size:1.2rem;background-size:auto 30px;}
#wrapCont .guide_box.cb > h3  {padding-top:25px; background-size:auto 25px;}
#wrapCont .guide_box .btn_box {margin-top:10px;}
#wrapCont .guide_box .btn_box a {margin:2%; padding:2%;}
#wrapCont .guide_box .btn_box a span {font-size:.9rem;}

/* width : 640px ---------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:640px){

}