
body, form, input, select, textarea, button { font-size:0.8em; line-height:1em; }



/* layout -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Top */
#wrapTop {height:58px; border-bottom:1px solid #fa8808; background:#fff;}
#wrapTop h1 {top:12px; left:50%; margin-left:-41px; width:83px; height:31px;}
#wrapTop h1 a {background-image:url('/img/common/m_logo.png'); background-repeat:no-repeat; background-size:83px 31px;}
#wrapTop .menuBox {display:none;}
#wrapTop .btnMenu {position:absolute; top:0; left:0; width:57px; height:57px; text-indent:-999em; background-size:21px 16px; background-position:center;}
#wrapTop #totalMenu {top:0; left:0; height:100%; z-index:51;}
#wrapTop #totalMenu .logo {height:58px;}
#wrapTop #totalMenu .logo a {width:100%; height:58px; text-indent:-999em; background-size:83px 31px; background-position:84% 12px;}
#wrapTop #totalMenu .btnClose {top:0; left:0; width:57px; height:57px; background-image:url('/img/common/btn_mClose.png'); background-size:17px 16px; background-position:center;}
#wrapTop #totalMenu .menu {}
#wrapTop #totalMenu .menu li {height:55px;}
#wrapTop #totalMenu .menu li a {padding:20px 15px;}
#wrapTop #totalMenu .menu .depth1 {display:none;}

/* body */
#wrapCont {background:#f2f2f2;}
#wrapCont.sub {padding:0 18px; background:#fff;}
#wrapCont .sec_tit {text-align:center; font-size:1.3rem;}
#wrapCont .main_util {}
#wrapCont .main_util .top_menu {margin:10px 0;}
#wrapCont .main_util .top_menu .col_2 {margin-top:10px; background:#fff;}
#wrapCont .main_util .top_menu .col_2 li {padding:15px 0; width:25%; text-align:center;}
#wrapCont .main_util .top_menu .col_2 li p {margin-top:12px; line-height:1.2;}
#wrapCont .main_util .top_menu .col_2 li p > span {display:block;}
#wrapCont .main_util {}

#wrapCont .cont {margin-bottom:10px; padding:25px 0; border-bottom:1px solid #dedede; background:#fff;}

#wrapCont .visualBox {margin-bottom:10px; border-bottom:1px solid #dedede;}
#wrapCont .main_slide {margin-bottom:10px;}
#wrapCont .main_slide .bx-wrapper {position:relative;}
#wrapCont .main_slide .bx-wrapper img {width:100%;}
#wrapCont .main_slide .bx-wrapper .bx-pager {position:absolute;width:100%;bottom:30px;text-align: center;}
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a {
  background:url('/img/common/pager.png') no-repeat bottom center; text-indent:-9999px; display:block; width:9px; height:9px; margin:0 5px; outline:0;}
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont .main_slide .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/pager.png') no-repeat top center;
}
#wrapCont .main_slide .bx-wrapper .bx-pager-item,
#wrapCont .main_slide .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline-block; vertical-align:bottom; *zoom:1; *display: inline;}
#wrapCont .main_slide .bx-wrapper .bx-pager-item {font-size:0; line-height:0;}
#wrapCont .notice_box {padding:15px; background:#fff;}
#wrapCont .notice_box h3  {display:inline-block; width:20%;}
#wrapCont .notice_box .bx-wrapper  {display:inline-block; width:65%;}
#wrapCont .notice_box .bx-wrapper li {margin:1px 0;}
#wrapCont .notice_box .bx-wrapper li a {display:block; overflow:hidden; line-height:1.2; font-size:.9rem; white-space:nowrap; text-overflow:ellipsis;}
#wrapCont .notice_box .noice_more {top:8px; right:17px;}

#wrapCont .movie_preview {padding:10px 15px;}
#wrapCont .movie_preview ul {margin:0 -6px;}
#wrapCont .movie_preview ul > li {width:calc(50% - 12px); margin:10px 6px;}
#wrapCont .movie_preview ul > li .thumb {}
#wrapCont .movie_preview ul > li .thumb img {width:100%;}
#wrapCont .movie_preview ul > li .txt_box {}
#wrapCont .movie_preview ul > li .txt_box p {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#wrapCont .movie_preview ul > li .txt_box > strong {}
#wrapCont .movie_preview ul > li .txt_box .count {}

#wrapCont .contBox2 .why_box {position:static;}
#wrapCont .contBox2 p {text-align:center;}

#wrapCont .contBox3  {padding:0 33px; background:#f2f2f2;}
#wrapCont .contBox3 .bx_exper > div {float:none;}
#wrapCont .contBox3 .bx_exper .thumb {top:0; left:0;}
#wrapCont .contBox3 .bx_exper > div > h3 {height:40px; line-height:40px;}
#wrapCont .contBox3 .bx_exper > div > ul {padding:0 20px; background:#fff;}
#wrapCont .contBox3 .bx_exper > div > ul li {padding:20px 0; min-height:115px; border-bottom:1px solid #dedede;}
#wrapCont .contBox3 .bx_exper > div > ul li a {padding-left:95px;}
#wrapCont .contBox3 .bx_exper p {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

#wrapCont .contBox4 {}
#wrapCont .contBox4 .reserve_box .col_4 {margin:0 15px; width:calc(50% -  30px);}
#wrapCont .contBox4 .reserve_box .col_4 .tit span {display:block;}
#wrapCont .contBox4 .reserve_box .thumb  img {width:100%;}

#wrapCont .contBox5 {padding:30px 17px;}

#wrapCont .status {display:none;}

#wrapCont .contents .title {margin-top:40px; font-size:1.7rem;}
.tab_menu {margin-top:30px;}
#wrapCont .contents .top_box {margin-top:50px; padding:25px 62px;}
#wrapCont .contents .top_box .txt {line-height:1.5; text-align:center; font-size:.9rem;}
#wrapCont .contents .top_box .normal {margin-top:15px; padding:15px; font-size:.9rem; font-weight:600;}

#wrapCont .step_box {}
#wrapCont .step_box > ol {}
#wrapCont .step_box > ol > li {}
#wrapCont .step_box .thumb {}

#wrapCont .cont_box {margin-top:50px;}
#wrapCont .cont_box .sub_tit {line-height:1; font-size:1.1rem;}
#wrapCont .cont_box #my_reserve {margin-top:15px;}
#wrapCont .cont_box #my_reserve dt {padding:18px 15px 10px; line-height:1.4; font-size:.9rem; background-image:url('/img/common/dt_list_mState.png'); background-size:17px 120px; background-position:97% 120%;}
#wrapCont .cont_box #my_reserve dt.on {background-position:97% -20%;}
#wrapCont .cont_box #my_reserve dt .subject {display:block;}
#wrapCont .cont_box #my_reserve dd > ul {padding:15px;}
#wrapCont .cont_box #my_reserve dd > ul > li {margin:15px 0; padding-left:13px; line-height:1.4;}
#wrapCont .cont_box #my_reserve dd > ul > li:after {top:5px; left:0; width:3px; height:3px;}
#wrapCont .cont_box #my_reserve dd > ul > li ul {margin-top:10px;}

#wrapCont .cont_box #my_faq {margin-top:40px;}
#wrapCont .cont_box #my_faq dt {padding:18px 15px 10px; line-height:1.4; font-size:.9rem; background-image:url('/img/common/dt_list_mState.png'); background-size:17px 120px; background-position:97% 120%;}
#wrapCont .cont_box #my_faq dt.on {background-position:97% -20%;}
#wrapCont .cont_box #my_faq dt .q_mark {padding:0 20px 0 20px; font-size:17px;}
#wrapCont .cont_box #my_faq dd {padding:28px 40px; line-height:1.4;}

#wrapCont .cont_box .cal_box {}
#wrapCont .cont_box .cal_box .resort_list {}
#wrapCont .cont_box .cal_box .cal {}

#wrapCont .cont_box .exper_box {}
#wrapCont .cont_box .exper_choice {}
#wrapCont .cont_box .exper_choice .ex_tit {}
#wrapCont .cont_box .exper_choice > ul {}
#wrapCont .cont_box .exper_choice > ul li {}

#wrapCont .agree_box {margin-top:50px;}
#wrapCont .agree_wrap {padding:0 14px 24px;}
#wrapCont .agree_top {padding:14px;}
#wrapCont .agree_top .tit {line-height:1.4; font-size:1rem;}
#wrapCont .agree_tit {margin-top:45px; font-size:1rem;}
#wrapCont .agree_box .agchk {margin-top:8px;}
#wrapCont .agree_scroll  {margin-top:15px; padding:10px 23px; height:179px;}
#wrapCont .agree_box .btn_box {margin-top:30px;}

/* Footer */
#wrapFooter {margin-top:50px; padding:15px 0;}


/* common --------------------------------------------------------------------------------------------------------------------------------------------*/
#maskMobile { z-index:10; background-color:#232927; opacity:.7; }
.scroll_navi {display:none;}

.btnTop { display:none; right:15px; bottom:103px; width:43px; height:43px;}

/* table */
.mBoard .rwd-table th {display:none;}
.mBoard .rwd-table td {display:block; border-right:0 none;}
.mBoard .rwd-table td:before {content: attr(data-th) ": "; display: inline-block; width:30%; text-align:left; background:#f8f8f8;}
    
.ip_hidden + label {display:inline-block; padding:5px 0  5px 30px; background: url('/img/common/m_chk_off.gif') 0 3px no-repeat; background-size:16px 16px;}
.ip_hidden label.on {background: url('/img/common/m_chk_on.gif') 0 3px no-repeat; background-size:16px 16px;}
.ip_hidden:checked + label {background: url('/img/common/m_chk_on.gif') 0 3px no-repeat; background-size:16px 16px;}


/* button */
.btn_box {}
.btn_box .view {padding:10px 20px;}
.btn_box .view > span {padding-right:20px; font-size:15px; background-position:center right;}
.btn_box .next {padding:10px 20px;}
.btn_box .next span {padding-right:20px; font-size:15px; background-position:center right;}

/* 이미지형 아이콘 */
a.btn_ico, button.btn_ico, span.btn_ico {background-image:url('/img/common/sp_icon.png'); background-repeat:no-repeat; background-size:250px 250px;}
.btn_ico.exper {width:35px; height:31px; background-position:0 -41px;}
.btn_ico.program {width:29px; height:31px; background-position:-41px -43px;}
.btn_ico.reserve {width:40px; height:31px; background-position:-74px -43px;}
.btn_ico.info {width:35px; height:31px; background-position:-117px -40px;}
.btn_ico.more {width:32px; height:32px; background-position:-134px 0;}
.btn_ico.m_count {margin-right:7px; width:8px; height:12px; background-position:-23px -59px;}
.btn_ico.noti {margin-top:-2px; margin-right:2px; width:15px; height:15px; background-position:-34px -61px;}

/* width : 640px ---------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:640px){

}